[Unit]
Description=Realtek RealManage DASH Client Daemon
Documentation=man:rtdashd(8)
After=network-online.target
Wants=network-online.target
ConditionPathExists=/sys/class/net

[Service]
Type=forking
ExecStart=/usr/bin/rtdashd
Restart=on-failure
RestartSec=10
CapabilityBoundingSet=CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target
